@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&display=swap');

.App {
  text-align: center;
  background-color: #F7E9F0;
}

footer{
  background-color: #F7E9F0;
  height: 30px;
  text-align: center;
}

footer > p{
  margin: 0;
  font-family: 'Nunito', sans-serif;
}


header{
  padding: .5rem;
  background-color: #D80275;
}

header > a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
  width: fit-content;
  margin: auto;
}

header > img {
  width: 45px;
  height: 45px;
  margin-right: 1rem;
}

header > a > p {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  margin: 0;
}
